<div class="card mb-3 shadow-sm card-rounded" style="width: 24rem;">
  <% if product.image.attached? %>
    <%= cl_image_tag product.image.key, class: "card-img-top fixed-size-image", alt: product.model, style: "width: 100%; height: 300px; object-fit: cover;" %>
  <% else %>
    <%= image_tag 'default_image.jpg', class: "card-img-top fixed-size-image", alt: product.model, style: "width: 100%; height: 300px; object-fit: cover;" %>
  <% end %>
  <div class="card-body d-flex flex-column">
    <h5 class="card-title text-center"><%= product.model %></h5>
    <div class="d-flex justify-content-center mb-3">
      <span class="badge rounded-pill text-bg-primary"><i class="fa-solid fa-wand-sparkles"></i> <%= product.product_type %></span>
    </div>
    <p class="card-text text-center flex-grow-1"><%= product.description %></p>
    <div class="d-flex justify-content-center mb-3">
      <span class="badge bg-light text-dark">Stock: <%= product.quantity_available %></span>
      <span class="badge bg-light text-dark">Talla: <%= product.size %></span>
      <span class="badge bg-light text-dark">Marca: <%= product.brand %></span>
      <span class="badge bg-light text-dark">Año: <%= product.release_date.year %></span>
    </div>
    <h5 class="card-price text-center mb-3"><%= number_to_currency(product.price) %></h5>
    <a href="<%= product_path(product) %>" class="btn btn-outline-secondary rounded-pill w-100 mb-2">Ver Producto</a>
    <%= button_to 'Comprar', add_to_cart_path(product), method: :post, class: "btn btn-primary rounded-pill w-100 mb-2" %>
  </div>
</div>
