<div class="hero-section container-fluid px-5 py-5" style="background: url('<%= asset_path("hero-background.png") %>') no-repeat center center; background-size: cover;">
  <div class="row w-100">
    <div class="col-md-6 d-flex flex-column justify-content-center mb-4 mb-md-0 text-center text-md-start px-5">
      <h1 class="display-4 fw-bold text-dark">Compra Moda Exclusiva de Forma Segura ✨</h1>
      <p class="lead text-dark">Olvídate de las copias baratas y las compras de dudosa reputación. Aquí encontrarás piezas que brillan con personalidad propia, diseñadas para ti y para nadie más.</p>
    </div>
    <div class="col-md-6 d-flex justify-content-center">
      <%= image_tag "shoes.png", alt: "hero image", class: "float-right" %>
    </div>
  </div>
</div>

<div class="container my-5">
  <h2 class="mb-4">Últimos Lanzamientos</h2>
  <div class="row">
    <% @latest_releases.each do |product| %>
      <div class="col-md-4">
        <%= render partial: 'shared/product_card', locals: { product: product } %>
      </div>
    <% end %>
  </div>
</div>

<div class="container my-5">
  <h2 class="mb-4">Agregados Recientemente</h2>
  <div class="row">
    <% @recently_added.each do |product| %>
      <div class="col-md-4">
        <%= render partial: 'shared/product_card', locals: { product: product } %>
      </div>
    <% end %>
  </div>
</div>

<div class="container my-5">
  <h2 class="mb-4">Los Más Vendidos</h2>
  <div class="row">
    <% @best_sellers.each do |product| %>
      <div class="col-md-4">
        <%= render partial: 'shared/product_card', locals: { product: product } %>
      </div>
    <% end %>
  </div>
</div>
