<div class="hero-section p-0 card-rounded" style="margin:4rem; position: relative; height: 800px; background: url('<%= asset_path("hero.webp") %>') no-repeat center center; background-size: cover;">
  <div class="overlay card-rounded" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.3);"></div>
  <div class="content d-flex flex-column justify-content-center align-items-center text-center" style="position: relative; z-index: 1; height: 100%;">
    <h1 class="display-4 text-white fw-bold">Compra Moda Exclusiva de Forma Segura ✨</h1>
    <p class="lead text-white">Olvídate de las copias baratas y las compras de dudosa reputación. Aquí encontrarás piezas que brillan con personalidad propia, diseñadas para ti y para nadie más.</p>
    <a href="<%= catalog_products_path %>" class="btn btn-light btn-lg mt-4">Ver Catalog</a>
  </div>
</div>

<!-- Barra de búsqueda -->
<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <%= form_with url: root_path, method: :get, local: true do %>
        <div class="input-group mb-3">
          <%= text_field_tag :query, params[:query], class: "form-control", placeholder: "Buscar producto..." %>
          <div class="input-group-append">
            <%= submit_tag "Buscar", class: "btn btn-primary" %>
          </div>
        </div>
      <% end %>
      <% if flash[:alert] %>
        <div class="alert alert-warning">
          <%= flash[:alert] %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="container my-5">
  <h2 class="mb-4">Últimos Lanzamientos</h2>
  <div class="row">
    <% @latest_releases.each do |product| %>
      <div class="col-md-4">
        <%= render partial: 'shared/product_card', locals: { product: product } %>
      </div>
    <% end %>
  </div>
</div>

<div class="container my-5">
  <h2 class="mb-4">Agregados Recientemente</h2>
  <div class="row">
    <% @recently_added.each do |product| %>
      <div class="col-md-4">
        <%= render partial: 'shared/product_card', locals: { product: product } %>
      </div>
    <% end %>
  </div>
</div>

<div class="container my-5">
  <h2 class="mb-4">Los Más Vendidos</h2>
  <div class="row">
    <% @best_sellers.each do |product| %>
      <div class="col-md-4">
        <%= render partial: 'shared/product_card', locals: { product: product } %>
      </div>
    <% end %>
  </div>
</div>
