<div class="container-fluid mt-5 px-5">
  <div class="text-center mb-4">
    <h1 class="display-4 fw-bold">Catálogo de Productos</h1>
    <p class="lead">Explora nuestra exclusiva colección de ropa y accesorios.</p>
  </div>

  <div class="row">
    <% @products.each do |product| %>
      <div class="col-lg-4 col-md-6 col-sm-12 mb-4 d-flex align-items-stretch">
        <div class="card h-100 card-rounded bg-white">
          <%= image_tag product.image_url, class: "card-img-top fixed-size-image", alt: product.model, style: "max-height: 200px; object-fit: cover;" %>
          <div class="card-body d-flex flex-column">
            <h5 class="card-title"><%= product.model %></h5>
            <p class="card-text flex-grow-1"><%= product.description %></p>
            <p class="card-text"><strong>Marca:</strong> <%= product.brand %></p>
            <p class="card-text"><strong>Lanzamiento:</strong> <%= product.release_date.strftime("%d/%m/%Y") %></p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item bg-white"><%= number_to_currency(product.price) %></li>
          </ul>
          <div class="card-body d-flex justify-content-between">
            <%= link_to 'Ver Producto', product_path(product), class: "btn btn-secondary rounded-pill" %>
            <%= link_to 'Comprar Producto', checkout_purchases_path(product_id: product.id), class: "btn btn-primary rounded-pill" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
