<div class="container-fluid mt-5 px-5">
  <div class="text-center mb-4">
    <h1>Encuentra tu ropa ideal, edición limitada.</h1>
    <p>Busca por <strong>nombre</strong>, <strong>marca</strong> y <strong>tipo de producto</strong>.</p>
  </div>
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h2>Listado de Productos</h2>
    <%= link_to 'Vender un nuevo producto', new_product_path, class: "btn btn-primary rounded-pill" %>
  </div>
  <div class="table-responsive">
    <table class="table table-hover align-middle">
      <thead class="table-light">
        <tr>
          <th>ID</th>
          <th>Imagen</th>
          <th>Modelo</th>
          <th>Marca</th>
          <th>Descripción</th>
          <th>Precio</th>
          <th>Cantidad Disponible</th>
          <th>Tipo de Producto</th>
          <th>Talla</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <% @products.each do |product| %>
          <tr>
            <td><%= product.id %></td>
            <td>
              <% if product.image_url.present? %>
                <%= image_tag product.image_url, class: "img-thumbnail card-rounded", style: "width: 50px; height: 50px;" %>
              <% else %>
                <span class="placeholder-icon">No Image</span>
              <% end %>
            </td>
            <td><%= product.model %></td>
            <td><%= product.brand %></td>
            <td><%= product.description %></td>
            <td><%= number_to_currency(product.price) %></td>
            <td><%= product.quantity_available %></td>
            <td><%= product.product_type %></td>
            <td><%= product.size %></td>
            <td>
              <%= link_to product_path(product), class: "btn btn-outline-primary btn-sm me-2 rounded-pill", title: 'Ver Producto', data: { toggle: 'tooltip', placement: 'top' } do %>
                <i class="fas fa-eye"></i>
              <% end %>
              <%= link_to edit_product_path(product), class: "btn btn-secondary text-white btn-sm me-2 rounded-pill", title: 'Editar', data: { toggle: 'tooltip', placement: 'top' } do %>
                <i class="fas fa-edit"></i>
              <% end %>
              <button class="btn btn-danger text-white btn-sm rounded-pill" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal" data-product-id="<%= product.id %>" title="Eliminar" data-bs-toggle="tooltip" data-bs-placement="top">
                <i class="fas fa-trash-alt"></i>
              </button>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<!-- Modal de confirmación de eliminación -->
<div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmDeleteModalLabel">Confirmar eliminación</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ¿Estás seguro de que deseas eliminar este producto?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary rounded-pill" data-bs-dismiss="modal">Cancelar</button>
        <%= form_with url: '', method: :delete, local: true, id: 'confirmDeleteForm' do %>
          <%= submit_tag 'Eliminar', class: 'btn btn-danger rounded-pill' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
