<div class="container mt-5">
  <div class="row">
    <div class="col-md-7">
      <h2>Crear Nuevo Producto</h2>
      <%= form_with model: @product, local: true, id: "product_form" do |form| %>
        <% if @product.errors.any? %>
          <div class="alert alert-danger">
            <h4>Errores</h4>
            <ul>
              <% @product.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <div class="mb-3">
          <%= form.label :model %>
          <%= form.text_field :model, class: "form-control", id: "product_model" %>
        </div>
        <div class="mb-3">
          <%= form.label :product_type, "Tipo de Producto" %><br>
          <div class="btn-group" role="group" aria-label="Tipo de Producto">
            <% ['Ropa', 'Zapatillas'].each do |type| %>
              <input type="radio" class="btn-check" name="product[product_type]" id="product_type_<%= type %>" value="<%= type %>" autocomplete="off">
              <label class="btn btn-outline-primary rounded-pill mx-1" for="product_type_<%= type %>"><%= type %></label>
            <% end %>
          </div>
        </div>
        <div class="mb-3">
          <%= form.label :size, "Talla" %><br>
          <div id="size_radio_buttons" class="btn-group" role="group" aria-label="Talla">
            <!-- The radio buttons will be dynamically added here -->
          </div>
        </div>
        <div class="mb-3">
          <%= form.label :brand %>
          <%= form.text_field :brand, class: "form-control", id: "product_brand" %>
        </div>
        <div class="mb-3">
          <%= form.label :release_date %>
          <%= form.date_field :release_date, class: "form-control", id: "product_release_date" %>
        </div>
        <div class="mb-3">
          <%= form.label :stock %>
          <%= form.number_field :quantity_available, class: "form-control", max: 9999, maxlength: 4, id: "product_quantity_available" %>
        </div>
        <div class="mb-3">
          <%= form.label :price %>
          <div class="input-group">
            <span class="input-group-text">$</span>
            <%= form.number_field :price, step: 0.01, min: 0, class: 'form-control' %>
          </div>
        </div>
        <div class="mb-3">
          <%= form.label :description %>
          <%= form.text_area :description, class: "form-control", id: "product_description" %>
        </div>
        <div class="mb-3">
          <%= form.label :image_url %>
          <%= form.text_field :image_url, class: "form-control", id: "product_image_url" %>
        </div>
        <div class="mb-3">
          <%= form.submit "Crear Producto", class: "btn btn-primary rounded-pill" %>
        </div>
      <% end %>
    </div>

    <!-- Preview card -->
    <div class="col-md-5">
      <h2>Previsualización del Producto</h2>
      <div class="card mb-3 w-100">
        <div class="row g-0">
          <div class="col-md-12">
            <img id="preview_image" src="#" class="img-fluid rounded-start product-image fixed-size-image" alt="Previsualización" style="width: 100%; height: auto; max-height: 300px; object-fit: cover; display: none;">
          </div>
          <div class="col-md-12 d-flex flex-column">
            <div class="card-body flex-grow-1">
              <h5 id="preview_model" class="card-title"></h5>
              <p id="preview_release_date" class="card-text"></p>
              <p id="preview_brand" class="card-text"></p>
              <p id="preview_price" class="card-text"></p>
              <p id="preview_quantity_available" class="card-text"></p>
              <p id="preview_description" class="card-text"></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
