<div class="container-fluid mt-5 px-5">
  <div class="text-center mb-4">
    <h1> Detalle de <%= @product.category %></h1>
  </div>

  <div class="card mb-3 w-100">
    <div class="row g-0">
      <div class="col-md-6">
        <% if @product.image_url.present? %>
          <img src="<%= @product.image_url %>" class="img-fluid rounded-start product-image fixed-size-image" alt=" <%= @product.model %>" style="width: 100%; height: auto; max-height: 600px; object-fit: cover;">
        <% else %>
          <span class="placeholder-icon">No Image</span>
        <% end %>
      </div>

      <div class="col-md-6 d-flex flex-column">
        <div class="card-body flex-grow-1">
          <strong style="font-size: 30px;" class="card-title"><%= @product.model %></strong>
          <p class="card-text"><%= @product.brand %></p>
          <p class="card-text"><%= @product.description %></p>

        </div>

        <div class="card-footer">
          <p class="card-text"><small class="text-body-secondary">Fecha de Lanzamiento: <%= @product.release_date %></small></p>
          <% if user_signed_in? %>
            <%= link_to new_purchase_path, class: "btn btn-primary my-2 mx-1 rounded-pill" do %>
              Comprar
            <% end %>
          <% else %>
            <%= link_to new_user_session_path, class: "btn btn-outline-primary me-2 rounded-pill" do %>
              Login
            <% end %>
            <%= link_to new_user_registration_path, class: "btn btn-primary rounded-pill text-white" do %>
              Sign-up
            <% end %>
          <% end %>

        </div>
      </div>


    </div>
  </div>
</div>
